<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- mapper 태그 : 해당하는 영역 안쪽에 SQL구문을 작성 -->
<mapper namespace="com.smhrd.database.DAO">
<!-- namespace >> Mapper파일을 식벽할 수 있는 식별자
            >> 해당하는 파일을 사용할 DAO랑 같은 이름을 줘야 mybatis가 알아서 찾을 수 있다.
-->

<!-- id : SQL구문 식별자! 절대 중복되면 안된다! 
    parameterType : 매개변수로 받아오는 자료형 지정(기본자료형이 아닌 경우에만)
    resultType : sql구문을 실행후에 되돌려주는 결과값 자료형 지정
   -->
   
   <!-- 회원가입 기능 -->
  <insert id="join" parameterType="com.smhrd.model.MemberVo">
  <!-- insert 쿼리문-->
    insert into b_member
    values(#{email},#{pw},#{tel},#{address})
  </insert>
  
  <!-- 로그인 기능 
  resultType : sql구문을 실행후에 되돌려주는 결과값 자료형 지정 ->로그인에서는 필수임-->
  <select id="login" parameterType="com.smhrd.model.MemberVo"
                     resultType ="com.smhrd.model.MemberVo"
  >
  <!--  select 쿼리문-->
   select email,tel,address
   from b_member 
   where email = #{email}
   and pw =#{pw}
  
  </select>
  
  <!-- 전체회원 정보 기능 -->
  <!-- dao에 함수에 매개변수 없으므로 parameterType은 안써도 됨 -->
  <select id="selectAll" resultType ="mvo">
  select email,tel,address
  from b_member 
  </select>
  
  <update id="update" parameterType="mvo">
  UPDATE B_MEMBER 
  SET PW =#{pw}, TEL =#{tel} , ADDRESS =#{address} 
  WHERE EMAIL = #{email}
 
  </update>
  
  
  
  <!-- resultType의 동작원리 
  1. MemberVo vo = new MemberVo() 객체 즉 클래스 생성
  select email,tel,address 이므로 아래 3가지를 셋팅
  2. vo.setEmail(email)
  3.vo.setTel(tel)
  4.vo.setAddress(address)
  
  ** 만약 조회한 컬럼과 이름이 일치하는 필드명이 객체안에 존재하지 않는다면
  동작하지 않고 에러 발생
  >> 해결법은 1.객체 필드명 바꾸기 2. sql구문에서 alias부여하기
  --> 
 </mapper>